<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="forgot-password-dialog">

  <div class="close-button">
    <button mat-icon-button (click)="cancelDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <h2>Forgot Password</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendOtp(forgotPasswordForm.value)">
    <p>Enter your email address to reset your password:</p>
    <mat-form-field style="width: 100%;">
      <input matInput type="email" placeholder="Email" formControlName="email"   (keydown)="disabledErrorMsg()">

      <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="forgotPasswordForm.get('email').hasError('pattern')">Invalid email format</mat-error>
   
    </mat-form-field>
    <div class="showErrorMessage">
      <small  *ngIf="emailNotExist">Email not Exist : Registration is required</small>
    </div>

  

    <button mat-raised-button color="primary" [disabled]="!forgotPasswordForm.valid">{{showOtpVerificationBox? 'Resend OTP' :  'Send OTP'}}</button>
  </form>

  <!-- Reset Password OTP Verification Dialog -->
  <div *ngIf="showOtpVerificationBox">
    <h1 mat-dialog-title>Verify OTP</h1>
    <div mat-dialog-content>
    
        <p>An OTP has been sent to your registered email address.
          Please enter the OTP below to reset your password.</p>
        <div class="otp-container">
          <ng-otp-input  (onInputChange)="onOtpChange($event)" [config]="{length:4}"></ng-otp-input>
        </div>
        <div class="otpError">
          <!-- OTP error messages -->
          <small>{{OtpError}} </small>
          
        </div>
        <div mat-dialog-actions class="button-container">
          <button mat-button type="submit"  class="verify-button" (click)="onVerifyClick()">Verify</button>
        </div>
      
    </div>
  </div>