.forgot-password-dialog {
  max-width: 400px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.forgot-password-dialog h2 {
  margin-top: 0;
}

.forgot-password-dialog p {
  text-align: center;
  margin-bottom: 20px;
}

.otp-container {
  text-align: -webkit-center;
}

.forgot-password-dialog button {
  margin-top: 5px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  /* Align buttons to the right end of the container */
  gap: 16px;
  /* Add spacing between buttons */
  margin-top: 16px;
  /* Add some spacing between the content and buttons */

}

.verify-button {
  background-color: #1976d2;
  color: #fff;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button button {
  background-color: transparent;
  color: #0a0a0a;
}

.close-button button:hover {
  color: #bd1212;
}

small {
  color: red;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 10px;
}

.showErrorMessage {
  text-align: center;
} 
.otperror{
  text-align: center;
}